{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">جستجو محصولات </h1>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        {% include 'inc/messages.html' %}
        <div class="row">
            <center>
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <form action="{% url 'shop:search' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="searched" placeholder="نام محصول را وارد کنید...">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">جستجو</button>
                        </form>
                    </div>
                </div>
                {% if searched %}
                    {% for item in searched %}
                        {{ item.name }} <br>
                    {% endfor %}
                {% endif %}
            </center>
        </div>
    </div>
    <br>
    <br>
{% endblock %}